---
layout: default
title: Lax
---
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/" class="previous">&laquo; Previous </a>
    {% else %}
      <a href="/page{{paginator.previous_page}}" class="previous">&laquo; Previous </a>
    {% endif %}
  {% else %}
    <a href="#" class="previous">&laquo; Previous </a>
  {% endif %}
  <span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="next "> Next &raquo; </a>
  {% else %}
    <a href="#" class="next "> Next &raquo; </a>
  {% endif %}
</div>

<div id="post">
{% for post in paginator.posts %}
  <div class="full">
    <h1 class="entry-title">
      <a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a>
    </h1>
    <div class="entry-content full-content">
      {{ post.content }}
      <div class="clear"></div>
    </div>
    <p class="alt-font tight">
      Posted in&nbsp;
      {% for category in post.categories %}
      <a href="/categories/{{ category }}" title="{{ category }}" rel="category tag">{{ category }}</a>
      {% endfor %}
    </p>
    <!--
    <p class="comments-link">
      <a href='{{post.url}}#disqus_thread'>Comments</a>
    </p>
    -->
    <p class="by-line">
      <span class="date full-date">
        <abbr class="published" title="{{ post.date }}">{{ post.date | date_to_string }}</abbr>
      </span>
    </p>
    <div class="clear"></div>
  </div>
  <div class="rule"><hr/></div>
{% endfor %}
</div>


<div class="pagination">
  <span class="previous">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <a href="/blog.html" title="Previous Page">&laquo; Previous</a>
      {% else %}
      <a href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Previous</a>
      {% endif %}
    {% endif %}
  </span>
  <span class="next">
    {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}/" title="Next Page">Next &raquo;</a>
    {% endif %}
  </span>
</div>


  {% if paginator.total_pages > 1 %}
  <div id="pagination">
    {% for page in (1..paginator.total_pages) %}
        <span>
          {% if page > 1 %}
            {% capture page_url %}page{{ page }}{% endcapture%}
          {% endif %}
          {% if page == paginator.page %}
            {{ page }}
          {% else %}
            <a href="/{{ page_url }}">{{ page }}</a>
          {% endif %}
        </span>
    {% endfor %}
  </div>
  {% endif %}

<!--
<div class="home">
  <ul class="posts">
    {% for post in paginator.posts %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
-->
