---
layout: default
title: Lax
---
<!-- Pagination links -->
<div class="pagination">
  <span class="span2">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/" class="previous">&laquo; Previous </a>
    {% else %}
      <a href="/page{{paginator.previous_page}}" class="previous">&laquo; Previous </a>
    {% endif %}
  {% else %}
    <a href="#" class="previous">&laquo; Previous </a>
  {% endif %}
  </span>
  <span class="page_number span2">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
  <span class="span2">
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="next "> Next &raquo; </a>
  {% else %}
    <a href="#" class="next"> Next &raquo; </a>
  {% endif %}
  </span>
</div>

<div id="post">
<ul>
{% for post in paginator.posts %}
  <li>
  {% for category in post.categories %}
    [<a href="/categories/{{ category }}" title="{{ category }}" rel="category tag">{{ category }}</a>]
  {% endfor %}
    <a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a>
    <abbr class="published" title="{{ post.date | date_to_string }}">{{ post.date | date_to_string }}</abbr>
  </li>
{% endfor %}
</ul>
</div>

{% if paginator.total_pages > 1 %}
<div id="post-pagination" class="pagination">
  <ul class="pages nav nav-pills">

  {% if paginator.previous_page %}
    <li>
    {% if paginator.previous_page == 1 %}
      <a href="/">Previous</a>
    {% else %}
      <a href="/page{{paginator.previous_page}}">Previous</a>
    {% endif %}
    </li>
  {% else %}
    <li>
      <a href="#">Previous</a>
    </li>
  {% endif %}

  {% if paginator.page == 1 %}
    <li class="page active">
      <a href="#">1</a>
    </li>
  {% else %}
    <li class="page">
      <a href="/">1</a>
    </li>
  {% endif %}

  {% for count in (2..paginator.total_pages) %}
    {% if count == paginator.page %}
    <li class="page active">
      <a href="#">{{count}}</a>
    </li>
    {% else %}
    <li class="page">
      <a href="/page{{count}}">{{count}}</a>
    </li>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <li>
      <a href="/page{{paginator.next_page}}">Next</a>
    </li>
  {% else %}
    <li>
      <a href="#">Next</a>
    </li>
  {% endif %}

  </ul>
</div>
{% endif %}
