---
layout: default
title: 非正常生活 << [Idea, Code, Life]
---
{% include JB/setup %}

<div class='container'>
  <div class='span8'>
    {% if paginator.total_pages > 1 %}
      {% include paginator.html %}
    {% endif %}
    
    {% assign posts_collate = paginator.posts %}
    {% include posts_collate.html %}
    
    <!-- Pagination links -->
    {% if paginator.total_pages > 1 %}
      {% include pager.html %}
    {% endif %}
    </div>

  <div class='span3 sidebar'>
    {% include asides_recent_posts.html %}

    <section>
      <h1>微信官方帐户 Linux</h1>
      <img src="/images/public/qrcode_for_gh_9329e4243e67_258.jpg" />
    </section>

    {% include asides_github.html %}

  </div>
</div>
