<footer class="site-footer">
  <div class="wrap">
    <h2 class="footer-heading"><a href="{{ site.github.url }}/">{{ site.title }}</a></h2>
    <div class="footer-col-3 column">
      <p class="text">{{ site.description }}</p>
    </div>

    <div class="contact">
      <p>
        {{ site.github.owner_name }}<br />
      </p>
    </div>
    <div class="contact">
      <p>
      <a href="{{ site.github.owner_url }}/" title="{{ site.github.build_revision }}">{{ site.github.owner_url }}</a><br />
      </p>
    </div>
    <div class="rss">
      <a href="{{ site.github.url }}/atom.xml">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</footer>
