<header class="site-header">
  <div class="wrap">
    <a class="site-title" href="{{ site.github.url }}/">{{ site.title }}</a>
    <a class="site-subtitle" href="{{ site.github.url }}/">{{ site.subtitle }}</a>
    <nav class="site-nav">

      <div class="trigger">
        <a class="extra" href="/">Home</a>
        {% for page in site.pages %}
          {% if page.title and page.page_hidden != true %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
      </div>
    </nav>
  </div>
</header>
