<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
{% include layout/head.html %}
<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div class="site">
  {% include header.html%}

  <div class="page-content">
    <div class="wrap">
      {{ content }}
    </div>
  </div>

  {% include footer.html%}
</div>

{% include layout/foot.html%}
</body>
</html>{% if site.github %}<!--
environment: {{ site.github.environment }}
build_revision: {{ site.github.build_revision }}
url: {{ site.github.url }}
{% for item in site.github.versions %}{{ item[0] }} : {{ item[1] }}
{% endfor %}-->{% endif %}
